<div class="users">
  <div *ngIf="gitUser">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> {{gitUser.login}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <p> Picture: <p>
            <img [src]="gitUser.avatar_url" alt="Image of github user">
          </div>
            <p> Respositories <span> {{gitUser.repos_url}} </span> </p>
        </div>
      </div>
    </div>
  </div>
</div>
