<app-github-search></app-github-search>
<div class="users">
  <div *ngIf="gitUser">
    <div class="row lightgrey">
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" [src]="gitUser.avatar_url" alt="Image of github user">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" style> <span class="styled">Username: </span> {{gitUser.login}}</h3>
          <br>
            <h3 class="card-title" style><span class="styled">Fullname: </span> {{gitUser.name}}</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <p class="styled">Respositories:</p>
                <app-repositories></app-repositories>
                <div *ngIf="!gitUser.public_repos">
                  <p appHighlight> User has no active repositories</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
