/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


.lightgrey {
  background-color: #ADD8E6;
  border-style: outset;
  padding: 10px;
}

card {
  padding: 10px;
}

.styled {
  font-weight: bold;
}
